body {
    font-family: 'Comfortaa', cursive;
}



/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(83, 59, 45);
}

.navbar .navbar-toggler {
    border-color: transparent;
}

.navbar .navbar-brand {
    font-weight: 800;
}

.navbar .navbar-nav a {
    font-weight: 800;
}



/* Content Containers */

.container-wrapper {
    padding-top: 40px;
    padding-bottom: 75px;
}

.container-wrapper--lavender {
    background-color: #9771c2;
    color: #F4ECE1;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}

.alert-warning {
    color: #29281D;
    background-color: #E4C853;
    border-color: #E4C853;
    text-align: center;
}

.callout-container {
    height: 100vh;
    
    background: url("../images/flowertea2.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(83, 59, 45, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-top: 75px;
}

.blockquote {
    margin-bottom: 40px;
}

.features-container .fa, .fas {
    color: #E4C853;
}

.features-container .badge-newy {
    color: #F4ECE1;
    background-color: #576043;
    padding: 4px 8px;
    letter-spacing: 2px;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.footer-container {
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #999;
    font-size: 70%;
    letter-spacing: 2px;
}

.kc {
    font-weight: 800;
    font-size: 65%;
    color: #666;
}

.kc a {
    color: #000;
}



/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}



/* Block Dividers */

.block-divider {
    width: 80px;
    height: 4px;
    border: 0;
}

.block-divider--yellow {
    background-color: #E4C853;
}

.block-divider--white {
    background-color: #F4ECE1;;
}

.block-divider--short {
    width: 40px;
    margin-top: 24px;
    margin-bottom: 32px;
}



/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fff;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 70%;
    font-style: italic;
    color: #CFC1B1;
}

.jumbotron .lead{
    margin:24px 0;
    color: #EFE8DC;
}



/* Buttons */

.btn--cta {
    font-weight: 800;
    border-radius: 24px;
    width: 160px;
}

.btn--lavender {
    color: #F4ECE1;
    background-color: #9771c2;
    border: #9771c2;
}

.btn--lavender:hover,
.btn--lavender:active,
.btn--lavender:focus,
.btn--lavender:active:focus {
    color: #F4ECE1;
    background-color: #7d4db3;
    border-color: #7d4db3;
}

.btn--nav {
    font-size: 80%;
}

.btn--feat {
    font-weight: 800;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 28px;
    letter-spacing: 2px;
}

.btn--ocre {
    color: #fff;
    background-color: #e4c853;
    border-color: #e4c853;
}

.btn--ocre:hover,
.btn--ocre:active,
.btn--ocre:focus,
.btn--ocre:active:focus {
    color: #fff;
    font-weight: 800;
    background-color: #ddba27;
    border-color: #ddba27;
}